<section id="container" >
<header class="header black-bg">
            <!--logo start-->
            <a href="index.html" class="logo"><b>BestAmigo</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                      <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href=""><%=usuarioLogado %></a></li>
                    <li><a class="logout" href="/logout">Sair</a></li>
                </ul>
            </div>
        </header>

  </section>      