<!DOCTYPE html>
<html ng-app="amigo">
  <head>

    <title>BestAmigos</title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap-theme.css' />
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="stylesheets/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="vendor/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/icons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/style-responsive.css" rel="stylesheet">

    <script src="vendor/js/chart-master/Chart.js"></script>

  </head>
  <body>
    
    <%- include header.ejs %>

   <section id="main-content" class="container">
        <section class="wrapper">
            <div ng-view></div>
        </section>
    </section>

    <script src="vendor/js/jquery.js"></script>
    <script type="text/javascript" src="vendor/js/jquery.backstretch.min.js"></script>
    
    <script type="text/javascript" src="/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/routes.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/LoginController.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/AmigosController.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/NovoAmigoController.js"></script>
    <script type="text/javascript" src="/javascripts/services/InterceptorServices.js"></script>
  </body>
</html>
