<!DOCTYPE html>
<html ng-app="amigo">
  <head>

    <title>BestAmigos</title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap-theme.css' />
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="stylesheets/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="vendor/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/icons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/style-responsive.css" rel="stylesheet">

    <script src="vendor/js/chart-master/Chart.js"></script>

  </head>
  <body>
  
    <section id="container" >
        <div id="login-page">
        <div class="container">
        
              <form class="form-login" action="index.html">
                <h2 class="form-login-heading">Pode começar</h2>
                <div class="login-wrap">
                    <a href="/auth/github" class="btn btn-twitter btn-block">
                            
                        <i class="fa fa-github"></i>Github
                    </a>
                    <br>
                    <a href="/auth/facebook" class="btn btn-facebook btn-block"><i class="fa fa-facebook"></i> Facebook</button></a>
                    <br>
                    <div class="registration">
                        Você pode acessar utilizando as principais redes sociais<br/>
                        
                    </div>
        
                </div>
        
                  <!-- Modal -->
                  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">Forgot Password ?</h4>
                              </div>
                              <div class="modal-body">
                                  <p>Enter your e-mail address below to reset your password.</p>
                                  <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
        
                              </div>
                              <div class="modal-footer">
                                  <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                  <button class="btn btn-theme" type="button">Submit</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- modal -->
        
              </form>       
        
        </div>
      </div>

    </section>

    <script src="vendor/js/jquery.js"></script>
    <script type="text/javascript" src="vendor/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("images/login-bg.jpg", {speed: 500});
    </script>
    <script type="text/javascript" src="/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/routes.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/LoginController.js"></script>
    <script type="text/javascript" src="/javascripts/services/InterceptorServices.js"></script>
  </body>
</html>
