      <div class="row mt">
        
                      <!-- SERVER STATUS PANELS -->
    		<a href="#!/amigos">
	    		<div class="col-md-4 col-sm-4 mb">
	            <div class="white-panel pn">
	                <div class="white-header">
	                    <h5>Meu amigos secretos</h5>
	            </div>
	            
	            <div class="row">
	            
	                <div class="col-sm-6 col-xs-6"></div>
	      				</div>
	                    <div class="centered">
	                    <img src="/images/carta.jpg" width="120">
	                </div>
	            </div>
	        </div><!-- /col-md-4 -->
    		</a>
                
    		<a href="#!/novo-amigo">
	        <div class="col-md-4 col-sm-4 mb">
	            <div class="white-panel pn">
	                <div class="white-header">
	                    <h5>Novo amigo secreto</h5>
	            </div>
	            
	            <div class="row">
	                
	                <div class="col-sm-6 col-xs-6"></div>
	      		</div>
	                    <div class="centered">
	                    <img src="/images/novoamigo.png" width="120">
	                </div>
	            </div>
	        </div><!-- /col-md-4 -->
    		</a>
                                
        <div class="col-md-4 mb">
            <!-- WHITE PANEL - TOP USER -->
            <div class="white-panel pn">
                <div class="white-header">
                    <h5>Mais Informações</h5>
                </div>
                <p><img src="/images/ui-zac.jpg" class="img-circle" width="80"></p>
                <p><b>Zac Snider</b></p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="small mt">MEMBER DESDE</p>
                        <p>2012</p>
                    </div>
                    <div class="col-md-6">
                        <p class="small mt">TOTAL AMIGOS SECRETOS</p>
                        <p>$ 47,60</p>
                    </div>
                </div>
            </div>
        </div><!-- /col-md-4 -->
                        
</div><!-- /row -->
<div class="col-lg-12 ds">
<h3>Meus amigos secretos</h3>
   <div ng-repeat="amigo in amigos">
		<div class="desc">
			<div class="thumb">
				<img class="img-circle" src="/images/ui-divya.jpg" width="35px" height="35px" align="">
			</div>
			<div class="details">
				<p><a href="#">{{amigo.title}}</a><br/>
				   <muted>{{amigo.usuario.nome}}</muted>
				</p>
			</div>
			<div class="actions">
				<button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
				<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
			</div>
		</div>
  </div>            	      	                   
</div>	